<div class="related">
    {% assign hasSimilar = '' %}
    {% for course in site.courses %}
        {% assign courseHasSimilar = false %}
        {% for tag in course.tags %}
            {% for thisTag in page.tags %}
                {% if courseHasSimilar == false and hasSimilar.size < 5 and course != page and tag == thisTag %}
                    {% if hasSimilar.size == 0 %}
                    <h4>Related Courses</h4>
                    <ul>
                    {% endif %}
                    <li class="relatedPost">
                        <a href="{{ site.url }}{{ course.url }}">{{ course.title }}
                        {% if course.series %}
                            (Series: {{ course.series }})
                        {% endif %}
                        </a>
                    </li>
                    {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
                    {% assign courseHasSimilar = true %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
    {% if hasSimilar.size > 0 %}
        </ul>
    {% endif %}
</div>
